*{
    background-color: #b8ffb8;

}
h1{
    color:#289b50;
    text-shadow:#acb7ab 5px 3px 7px;
    border: 5px solid #27e820;
    width: 500px;
    background-color: #99ff6b;
}
div.iroiro{
    display: grid;
	grid-auto-rows: 290px;
	grid-gap: 10px;
    padding:10px 10px 10px;
}
div.kazuate{
    grid-auto-rows: 500px;

}
div.zentai{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 500px;
	grid-gap: 10px;
    padding:10px 10px 10px;
}
div.zentai h2{
    border: 5px groove #27e820;
    background-color: #50ff4a;
    text-align: center;

}
a:hover{
    border-bottom: none;
    color:#e82c4c;
}
.zentai div, .zentai p, .zentai ol, .zentai li, .zentai a{
    background-color: #7df739;
    padding: 0px 5px 0px 11px;
}
.iroiro div,.iroiro div p,.iroiro a,.iroiro ul,.iroiro li{
    background-color: #2effa7;
    padding: -1px 5px 0px 11px;
}
div.iroiro h2{
    border: 5px groove #02ffd0;
    background-color: #6febff;
    text-align: center;
    padding 0px 5px 0px 11px;
}